@charset "Shift_JIS";

*{
	margin:0; padding:0; 	
	line-height:1.5;
	color:#333333;		

} 
body {
	background-color:#eeffff;	
	text-align:center;		
}
div#pagebody {
	width:900px; margin:0 auto;
	text-align:left;	
	background-color:#eeffff;		
}

div#header {
	height:70px;
	background-repeat:no-repeat;	
	background-color:#44ff99;
	margin:10px 0px 0px 0px;
}
h1 {
	padding:20px 0px 0px 30px;		
	font-family:Arial, Helvetica, sans-serif;	
}
h1 a {text-decoration:none;} 		



div#login {
	width:220px;		
	margin:10px 10px 10px 15px;	
	display:inline;			
	float:left;			
}


div#submenu {
	width:220px;		
	margin:10px 10px 10px 15px;	
	display:inline;		
	float:left;		
	clear:left;
}

div#login_header {
	height:26px; padding:4px 0px 0px 0px;
	background-repeat:no-repeat; background-position:top;
	background-color:#44ff99;
	font-size:90%; font-weight:bold; text-align:center;
}

div#submenu_header {
	height:26px; padding:4px 0px 0px 0px;
	background-repeat:no-repeat; background-position:top;
	background-color:#44ff99;
	font-size:90%; font-weight:bold; text-align:center;
}

div#login_body {
	padding:3px;
	background-repeat:no-repeat; background-position:bottom;
	background-color:#ccffcc;
}


ul#submenu_body {
	padding:3px;
	background-repeat:no-repeat; background-position:bottom;
	background-color:#ccffcc;
}
ul#submenu_body li {
	font-size:90%;			
	list-style-type:none;		
	display:inline;		
}
ul#submenu_body li a {
	display:block;		
	margin:0px 4px 0px 4px;		
	padding:2px 0px 2px 20px;	
	background-color:#ccffcc;	
	text-decoration:none;		
}
ul#submenu_body li a:hover {
	background-color:#33ddff;
}


div#news {
	width:600px; margin-right:10px; margin-left:15px; padding:10px;
	float:right;
	background-repeat:no-repeat;			
}

h2 {
	font-size:100%; margin-bottom:10px; padding-left:25px;
	font-size:95%; border-bottom:solid 1px #33bbff;
	background-repeat:no-repeat; background-position:left center;
}

hr {height:1px; border:solid 1px #33bbff; margin-bottom:10px;margin-top:10px}

div#announcement {
overflow: auto;
height: 400px;
background-color: #ddeeff;
margin:10px;
}
div#reciveDataSpace{
padding:5px;
position:top:100px;
}
